{{define "body"}}
{{template "header"}}
<style>
body {
  height: calc(100% - 52px);
}
</style>
<nav class="navbar navbar-default" style="margin-bottom:0;position:fixed;top:0;left:0;width:100%;z-index:2">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand" style="font-variant:small-caps;font-weight:bold;font-size:23px">Bingo</span>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;文件管理</a></li>
		    <li class="active"><a href="#"><span class="glyphicon glyphicon-console"></span>&nbsp;命令行</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>&nbsp;{{.User}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu"><li><a href="/logout">退出</a></li></ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="margin-top:52px;height: 100%;min-width:600px" id="terminal"></div>
<script>
$(document).ready(function () {
    $(this).bind("contextmenu", function(e) {	e.preventDefault() })
    var term = new Terminal();
    $(window).resize(function() { term.fit() })
    term.open(document.getElementById('terminal'), true);
    term.fit()
    var addr = location.hostname
    if (location.port) addr += ":"+ location.port
    var sock = new WebSocket("wss://" + addr + "/ws")
    sock.addEventListener('open', function(){ term.attach(sock, true, true) })
});
</script>
{{template "footer"}}
{{end}}