{{define "body"}}
{{template "header"}}
<style>
body {
	height: calc(100% - 90px);
}
@media (max-width: 800px) {
	#sizeview,
	#right-search,
	#pathnav,
	[name=modified] {
		display: none !important;
	}
	#pathnav-min {
		display: block;
	}
	#upload {
		margin-right: 12px;
	}
}
@media (min-width: 800px) {
	#pathnav {
		display: block;
	}
	#pathnav-min {
		display: none;
	}
}
</style>
<nav class="navbar navbar-default" style="margin-bottom:0;position:fixed;top:0;left:0;width:100%;z-index:2">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</button>
			<span class="navbar-brand" style="font-variant:small-caps;font-weight:bold;font-size:23px">Bingo</span>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">
		<img id="loading" style="height:17px;width:18px;left:14px;position:absolute;z-index:1" src="imgs/loader.gif" />
		<span class="glyphicon glyphicon-folder-open"></span>&nbsp;文件管理</a>
	</li>
	<li><a href="/cmdline"><span class="glyphicon glyphicon-console"></span>&nbsp;命令行</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
		    aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
			{{.User}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">退出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="width:100%;position:fixed;left:0;top:52;z-index:1;display:inline-flex;background:#e1e1e1">
	<ol class="breadcrumb" id="pathnav" style="height:36;margin-bottom:0;background:#e1e1e1;width:500"></ol>
	<ol class="breadcrumb" id="pathnav-min" style="height:36;margin-bottom:0;background:#e1e1e1;width:500"></ol>
	<div id="sizeview" class="pull-right" style="line-height:2.6;white-space:nowrap">
		<span style="margin-top:9;white-space:nowrap;padding-right:12">
		  <span class="glyphicon glyphicon-duplicate"></span>
		  <span id="fcnt">0</span>
		</span>
		<span style="margin-top:9;white-space:nowrap;padding-right:12">
		  <span class="glyphicon glyphicon-folder-open" style="padding-right:2"></span>
		  <span id="dcnt">0</span>
		</span>
		<span style="margin-top:9;white-space:nowrap;padding-right:16">
		  <span class="glyphicon glyphicon-floppy-disk"></span>
		  <span id="size">0</span>
		</span>
	</div>
	<form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
		<span class="glyphicon glyphicon-cloud-upload" style="margin-top:9px;margin-right:12px;cursor:pointer">
			<input type="file" name="file" style="opacity:0;position:absolute;top:0;right:0;margin:0;cursor:pointer" />
		</span>
		<input id="path" name="path" type="hidden" />
	</form>
</div>
<div class="progress" style="position:fixed;width:100%;z-index:2;top:89;display:none">
	<div class="progress-bar"></div>
</div>
<div class="list-group" id="dirlist" style="font-family:courier;margin-top:88"></div>
<script>
var $loading = $('#loading').hide();
function ls(root, mime) {
	pwd = root
	$.cookie("pwd", pwd)
	$.get("/explore", {path: pwd}, function(ret){
		if (!ret.stat) {
			$.toast({
				heading: "<b>内部错误</b>",
				text: '<span style="font-size:15px;font-family:courier">'+ret.mesg+'</span>',
				position: 'mid-center',
				icon: 'warning',
				loader: false,
				bgColor: '#666666',
				textColor: 'white',
				textAlign: 'left',
				allowToastClose: false,
				stack: false,
				showHideTransition: 'fade'
			})
			return
		}
		$('#upload #path').val($.cookie('pwd')) // 绑定上传内容参数
		$('#fcnt').text(ret.data.total.files)
		$('#dcnt').text(ret.data.total.dirs)
		$('#size').text(ret.data.total.size)
		$('#pathnav').empty()
		$('#pathnav-min').empty();
		var paths = [];
		var paths_min = [];
		$.each(ret.data.path, function(i, p) {
			if (i == 0) {
				p = '<span class="glyphicon glyphicon-hdd"></span>'
			}
			if (i < ret.data.path.length-1) {
			    target = '/'+ret.data.path.slice(1, i+1).join("/")
				target = target.replace("/|/", "|")
				p = '<a href="javascript:ls(\''+target+"','"+mime+'\')">'+p+'</a>'
			}
			var obj = '<li>'+ p +'</li>';
			paths.push($(obj));
			if (i > 0 && i == ret.data.path.length-2)
				paths_min.push($('<li>...</li>'));
			if (i == 0 || i >= ret.data.path.length-2)
				paths_min.push($(obj));
		})
		$.each(paths, function(_, obj) {
			$('#pathnav').append(obj);
		});
		$.each(paths_min, function(_, obj) {
			$('#pathnav-min').append(obj);
		});
		if ($(document).width() > 800) {
			$('#pathnav').width($(document).width() - $('#sizeview').width());
		} else {
			$('#pathnav').width($(document).width());
		}
		$('#dirlist').empty()
		$.each(ret.data.entries, function(i, e){
			item = e.name
			target = ""
			if (item.endsWith("/")) item = item.substr(0, item.length-1)
	        if (e.type == "inode/directory") {
				p = ret.data.path.join("/") + "/" + e.name
				if (p.startsWith('//')) {
					p = p.slice(1)
				}
				cls = 'glyphicon-folder-open'
				clk = 'target="' + p + '" mime="' + e.type + '"'
				target = p
			} else {
				p = ret.data.path.join("/") + "/" + e.name
				if (p.startsWith('//')) {
					p = p.slice(1)
				}
				if (e.type.startsWith("text/")){
					cls = 'glyphicon-file'
					clk = 'target="' + p + '" mime="' + e.type + '"'
				} else if (e.type.startsWith("image/")){
					cls = 'glyphicon-picture'
					clk = 'target="' + p + '" mime="' + e.type + '"'
				} else if (e.type.startsWith("audio/")){
					cls = 'glyphicon-music'
					clk = 'target="' + p + '" mime="application/octet-stream"'
				} else if (e.type.startsWith("video/")){
					cls = 'glyphicon-film'
					clk = 'target="' + p + '" mime="application/octet-stream"'
				} else if (e.type.endsWith("compressed")||e.type.endsWith("zip")){
					cls = 'glyphicon-compressed'
					clk = 'target="' + p + '" mime="application/compressed"'
				} else if (e.type.endsWith("pdf")) {
					cls = 'glyphicon-text-size'
					clk = 'target="' + p + '" mime="application/octet-stream"'
				} else {
					cls = 'glyphicon-floppy-disk'
					clk = 'target="' + p + '" mime="application/octet-stream"'
				}
				target = p
			}
			entry = '<div name="entry" '+clk+' class="list-group-item" style="cursor:pointer;padding-top:5px;padding-bottom:5px;height:32px">'
			entry += '<i id="icon" class="glyphicon '+cls+'" style="top:-5px" />&nbsp;'
			entry += '<span id="content" style="display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden">'+item+'</span>'
			entry += '<span name="modified" class="pull-right">&nbsp;&nbsp;'+e.modified+'</span>'
			entry += '<span id="lbl-size" class="pull-right">'+e.size+'</span></a>'
			entry += '</div>'
			var obj = $(entry)
			obj.click(function(){
				var $this = $(this)
				target = $this.attr('target')
				mime = $this.attr('mime')
				if (mime.endsWith("inode/directory")) {
					ls(target)
				} else {
					$('[name=entry]').css('background', 'white')
					$this.css('background', '#e1e1e1')
					url = "/view?path="+target+"&mime="+mime
				    window.open(url, '_blank')					
				}
			})
			$('#dirlist').append(obj)
			if ($(document).width() < 800) {
				obj.find('#content').width(obj.width() - obj.find('#icon').width() - obj.find('#lbl-size').width() - 20);
			}
		})
	}, "json")
}
$(document).ready(function () {
	$(this).bind("contextmenu", function(e) {
		e.preventDefault();
	})
	$('#upload').fileupload({
		dataType: 'json',
		progressall: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('.progress .progress-bar').css('width', progress + '%');
			$('.progress .progress-bar').text(progress + '%');
		}
	}).bind('fileuploadstart', function() {
		$('.progress').css('display', 'block');
		$('.list-group').css('margin-top', '108');
		$('.progress .progress-bar').css('width', '0%');
		$('.progress .progress-bar').text('0%');
	}).bind('fileuploaddone', function(e, data) {
		$('.progress').css('display', 'none');
		$('.list-group').css('margin-top', '88');
		if (data.result.stat) {
			title = "上传成功"
			icon = "success"
		} else {
			title = "上传失败"
			icon = "error"
		}
		$.toast({
			heading: "<b>"+ title + "</b>",
			text: '<span style="font-size:15px;font-family:courier">'+data.result.mesg+'</span>',
			position: 'mid-center',
			icon: icon,
			loader: false,
			bgColor: '#666666',
			textColor: 'white',
			textAlign: 'left',
			allowToastClose: false,
			stack: false,
			showHideTransition: 'fade'
		});
		ls($.cookie('pwd'));
	});
	ls($.cookie("pwd"))
}).ajaxStart(function(){
	$loading.show();
}).ajaxComplete(function(){
	$loading.hide();
});
</script>
<script src="jquery/jquery.ui.widget.js"></script>
<script src="jquery/jquery.iframe-transport.js"></script>
<script src="jquery/jquery.fileupload.js"></script>
{{template "footer"}}
{{end}}