{{define "header"}}
<html>
<head>
<title>Bingo {{ver}}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="xterm/xterm.css">
<link href="jquery/jquery.toast.min.css" rel="stylesheet">
<script src="jquery/jquery.min.js"></script>
<script src="jquery/jquery.cookie.js"></script>
<script src="jquery/jquery.toast.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="xterm/xterm.js"></script>
<script src="xterm/attach.js"></script>
<script src="xterm/fit.js"></script>
</head>
<style>
body {height: 100%}
</style>       
<body>
{{end}}