{{define "body"}}
{{template "header"}}
<style>
.form-signin {
    max-width: 350px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto 20px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-signin button {
    width: 100%;
}
</style>
<div class="container" style="padding-top:100px">
    <div class="form-signin">
        <div style="padding-top:10px;padding-bottom:20px;text-align:center"></div>
        <div class="form-group">
            <input id="user" type="text" class="form-control" placeholder="用户名" value="{{.User}}"/>
        </div>
        <div class="form-group" style="margin-bottom:10px">
            <input id="pass" type="password" class="form-control" placeholder="密码" />
        </div>
		<div id="error" style="color:red;padding-bottom:10px"></div>
        <div class="form-group">
            <button id="commit" class="btn btn-primary" style="font-size:16px;font-weight:bold">
                登&nbsp;&nbsp;&nbsp;&nbsp;录
            </button>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    page.init();
});
var page = {
    init: function() {
        $('#user').bind('keypress', page.commit_key);
        $('#pass').bind('keypress', page.commit_key);
        $('#commit').click(page.commit);
    },
    commit: function() {
        var user = $('#user').val();
        var pass = $('#pass').val();
        $.post('/login', {
            user: user,
            pass: pass
        }, function(ret) {
            if (ret.stat == true) 
				location.href = "/";
			else
				$('#error').text(ret.mesg);
        }, 'json').fail(function(x, stat, body) {
			$('#error').text(stat);
		});
    },
    commit_key: function(e) {
        if (e.which == 13) {
            page.commit();
            e.stopPropagation();
            return false;
        }
    }
};
</script>
{{template "footer"}}
{{end}}